body{
    background-image: url("food.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;  
} 
.first{
    width:27%;
    padding:21px;
    margin:15px 0px 15px 15px;
    border:5px solid red;
    border-radius: 30px;
    float:left;
    background-color: black;
    color:white;
    margin-right:0px;
}
.second{
    width:30%;
    padding:17px;
    margin:15px 0px 15px -48px;
    border:5px solid red;
    border-radius: 30px;
    float:left;
    background-color: black;
    
}

.second ul{

}
.second ul li{
list-style: none;
text-decoration: none;
padding:8px;
color:white;
display: inline;
font-size: 20px;
}
.second ul li:hover{
    text-decoration: underline;
    color:yellow;
    cursor: pointer;
}
#myspanid:hover{
    text-decoration: underline;
    color:yellow;
    cursor:pointer;
    font-size:25px;
}

.third{
width:30%;
padding: 15px 25px;
margin:14px 15px 15px 15px;
border:5px solid red;
border-radius: 30px;
float:right;
background-color: black;

}
.third ul li{
list-style: none;
text-decoration: none;
color:white;
font-size: 27px;
margin-left:0px;
padding:10px;

}
.form{
    width:35%;
    height:80%;
    background-color: bisque;
    }.mydiv{
        background-color:white;
        width:20%;
        height:100%;
        margin: 0 auto;
        padding:50px;
        border-style:dotted;
        border-color: 9px solid green;
        color:red;
        font-weight: bold;
        font-size: 20px;
        float:left;
        margin-left:40px;
        margin-bottom:0px;
        border-radius: 20px;
        
        
    }#aaa{
    width:95%;
    }
      #aaa:focus{
       background-color:darkorange;
    }
    #btn{
    padding:10px;
    color:white;
    background-color: blue;
    border-radius: 10px;
    font-size:16px;
    }#btn:hover{
    color:red;
    }
    hr{
    width:100%;
    margin-bottom:10%;
    }
    .circle{
    background-color: aqua;
    color:black;
    width: 20%;
    border:5px solid red;
    border-radius: 100%;
    margin-left:10%;
    padding:35px;
    font-size: 20px;
    font-weight: bold;
    float:left;
    margin-top: 10%;
    margin-top:400px;
    
    
    }p{
    margin-left: 45px;
    
    }
    #menu{
    width:15%;
    background-color: black;
    color:aliceblue;
    border: 5px solid red;
    border-radius: 30px;
    padding:5px 10px;
    margin:0 auto;
    margin-top:67%;
    float:right;
    margin-right:200px;
    margin-bottom: 15px;
    }
    #menu h1{
    margin-left:30%;
    
    }
    
    .abc{
    width:20%;
    background-color: aqua;
    padding:40px;
    border: 3px solid green;
    margin-top:3%;
    border-radius: 30px;
    float:left;
    margin-left: 30px;
    
    }.abc ul li{
    font-size: 30px;
    color:red;
    font-weight: bold;
    }
    .abc ul li:hover{
    font-size: 30px;
    color:black;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
    }
    .def{
    width:20%;
    background-color: aqua;
    padding:40px;
    border: 3px solid green;
    margin-top:3%;
    border-radius: 30px;
    float: left;
    margin-left:100px;
    
    
    }.def ul li{
    font-size: 30px;
    color:red;
    font-weight: bold;
    }
    .def ul li:hover{
    font-size: 30px;
    color:black;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
    }
    .ghi{
    width:20%;
    background-color: aqua;
    padding:40px;
    border: 3px solid green;
    margin-top:3%;
    border-radius: 30px;
    float: left;
    margin-left:100px; 
    float:left;
    
    
    }.ghi ul li{
    font-size: 30px;
    color:red;
    font-weight: bold;
    }
    .ghi ul li:hover{
    font-size: 32px;
    color:black;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
    }
    .jkl{
    width:20%;
    background-color: aqua;
    padding:40px;
    border: 3px solid green;
    margin-top:3%;
    border-radius: 30px;
    float:left;
    margin-left: 30px;
    
    }.jkl ul li{
    font-size: 30px;
    color:red;
    font-weight: bold;
    }
    .jkl ul li:hover{
    font-size: 32px;
    color:black;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
    }
    .mno{
    width:20%;
    background-color: aqua;
    padding:40px;
    border: 3px solid green;
    margin-top:3%;
    border-radius: 30px;
    float: left;
    margin-left:100px;
    
    
    }.mno ul li{
    font-size: 30px;
    color:red;
    font-weight: bold;
    }
    .mno ul li:hover{
    font-size: 32px;
    color:black;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
    }
    .pqr{
    width:20%;
    background-color: aqua;
    padding:35px;
    border: 3px solid green;
    margin-top:3%;
    border-radius: 30px;
    float: left;
    margin-left:100px; 
    float:left;
    margin-bottom: 10px;
    
    }.pqr ul li{
    font-size: 30px;
    color:red;
    font-weight: bold;
    }
    .pqr ul li:hover{
    font-size: 32px;
    color:black;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
    }
    .myhr{
    margin-bottom: 10px;
    height:2px;
    
    }
     hr{
        height: 5px;
    }
    span:hover{
        font-size: 40px;
        text-decoration: underline;
        color:yellow;
        cursor: pointer;
    }
    .abc,.def,.ghi,.jkl,.mno,.pqr{
        Color:blue;
    }
    #myid:hover{
        color:black;
        font-size: 20px;
        text-decoration: none;
    }
    #pid1,#pid2{
        margin-left:20px;
        font-size: 23px;
    }